description = "Bernoulli MAB - 10 arms"
problem = "bern"

priors = np.array( [(1,1)] * 10 )
Ts = [5,10,15,20,25,30,40,50,60,70,80,90,100,120,140,160,180,200,250,300,350,400,450,500]
S = 2000

H_IDS = 8192

DEFAULT:
	algorithm = ts.TS_bern( "TS" )

	algorithm = ids.IDS_bern( "IDS" )
	algorithm = ucb_bayes.UCB_Bayes_bern( "UCB.Bayes" )
	algorithm = ogi.OGI_bern( "OGI" )
	algorithm = ogi.OGI_bern( "OGI-T" )

	algorithm = irs_fh.IRS_FH_bern( "IRS.FH" )
	algorithm = irs_vzero.IRS_VZERO_bern( "IRS.V-ZERO" )
	algorithm = irs_index.IRS_INDEX_bern( "IRS.INDEX1" )
	algorithm = irs_index.IRS_INDEX_bern( "IRS.INDEX2" )

