description = "Gaussian MAB - 2 arms"
problem = "gauss"

priors = np.array( [(0,1)] * 2 )
noise_sigmas = np.array( [1.0]*2 )
Ts=[5, 10, 15, 20, 25, 30, 40, 50, 60, 70, 80, 90, 100, 120, 140, 160, 180, 200]
S = 2000

H_IDS = 8192

DEFAULT:
	algorithm = ts.TS_gauss( "TS" )

	algorithm = ucb_bayes.UCB_Bayes_gauss( "UCB.Bayes" )
	algorithm = ogi.OGI_gauss( "OGI" )
	algorithm = ogi.OGI_gauss( "OGI-T" )
	algorithm = ids.IDS_gauss( "IDS" )

	algorithm = irs_fh.IRS_FH_gauss( "IRS.FH" )
	algorithm = irs_vzero.IRS_VZERO_gauss( "IRS.V-ZERO" )
	algorithm = irs_vemax.IRS_VEMAX_gauss( "IRS.V-EMAX" )
	algorithm = irs_index.IRS_INDEX_gauss( "IRS.INDEX1" )
	algorithm = irs_index.IRS_INDEX_gauss( "IRS.INDEX2" )
